# Vim files
*.swp
*.swo
*.swn

# Python files
*.pyc
__pycache__
*/__pycache__
virgil/__pycache__

# egg-info
*.egg-info

# Random temporary files
*~

# Friend memory
memory.txt

# Friend image
generated_image.png

# Add image generations and video files
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.mov
*.avi
*.mkv
*.webm
*.webp